openapi: 3.2.0
info:
  contact: {}
  description: Config API supports CRUD operations on config objects.
  title: Config REST Application Agent Credentials Service Account Credentials API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '1'
servers:
- url: https://eu.api.indykite.com/configs/v1
- url: https://us.api.indykite.com/configs/v1
security:
- BearerToken: []
tags:
- name: Service Account Credentials
  description: Service Account Credential management
  x-displayName: Service Account Credentials
paths:
  /service-account-credentials:
    get:
      tags:
      - Service Account Credentials
      operationId: listServiceAccountCredentials
      summary: List Service Accounts Credentials
      description: List Service Accounts Credentials in provided Organization with optional filtering.
      parameters:
      - description: Organization ID where to search for Service Accounts credentials.
        in: query
        name: organization_id
        required: true
        style: form
        explode: true
        schema:
          type: string
      - description: List only objects, that contains given search query in name, display name or description
        in: query
        name: search
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/httpproxy.listConfigResponse-httpproxy_readSACredentialResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
        '401':
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
      security:
      - BearerToken: []
    post:
      tags:
      - Service Account Credentials
      operationId: createServiceAccountCredential
      summary: Register Service Account credentials
      description: Register Service Account credentials in provided Service Account.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/httpproxy.createSACredentialRequest'
        description: Register Service Account credentials request
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/httpproxy.createSACredentialResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
        '401':
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
      x-codegen-request-body-name: request
      security:
      - BearerToken: []
  /service-account-credentials/{id}:
    delete:
      tags:
      - Service Account Credentials
      operationId: deleteServiceAccountCredential
      summary: Delete Service Account Credential
      description: Delete Service Account Credential by provided ID.
      parameters:
      - description: Service Account ID
        in: path
        name: id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/httpproxy.deleteConfigResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
        '401':
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
      security:
      - BearerToken: []
    get:
      tags:
      - Service Account Credentials
      operationId: getServiceAccountCredential
      summary: Read Service Account Credential
      description: Read Service Account Credential identified by provided ID.
      parameters:
      - description: Service Account Credential ID
        in: path
        name: id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/httpproxy.readSACredentialResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
        '401':
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
      security:
      - BearerToken: []
components:
  schemas:
    httpproxy.listConfigResponse-httpproxy_readSACredentialResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/httpproxy.readSACredentialResponse'
          type: array
      type: object
    httpproxy.deleteConfigResponse:
      properties:
        id:
          description: ID of deleted configuration.
          type: string
      type: object
    restapi.DetailedError:
      properties:
        errors:
          items:
            type: string
          type: array
        message:
          type: string
      type: object
    httpproxy.createSACredentialRequest:
      properties:
        display_name:
          description: DisplayName is optional human readable name of configuration.
          maxLength: 254
          minLength: 2
          type: string
        expire_time:
          description: ExpireTime specify when configuration will expire. If present, must be in RFC3339 format.
          type: string
        service_account_id:
          description: ServiceAccountID is identifier of Service Account, to which the credential will be registered.
          type: string
      required:
      - service_account_id
      type: object
    restapi.ErrorResponse:
      properties:
        message:
          example: Internal Server Error
          type: string
      type: object
    httpproxy.createSACredentialResponse:
      properties:
        create_time:
          description: CreateTime specify when configuration was created.
          type: string
        created_by:
          description: CreatedBy specify who created configuration.
          type: string
        display_name:
          description: DisplayName is optional human readable name of configuration.
          type: string
        expire_time:
          description: ExpireTime specify when configuration will expire.
          type: string
        id:
          description: ID is globally unique identifier of created configuration.
          type: string
        kid:
          description: Kid is key identifier of created configuration.
          type: string
        service_account_config:
          description: ServiceAccountConfig is JSON configuration of created credential.
          items:
            type: integer
          type: array
        service_account_id:
          description: ServiceAccountID is identifier of Service Account, to which the credential was registered.
          type: string
      type: object
    httpproxy.readSACredentialResponse:
      properties:
        create_time:
          description: CreateTime specify when service account credential was registered.
          type: string
        created_by:
          description: CreatedBy specify who created service account credential.
          type: string
        display_name:
          description: DisplayName is human readable name of service account credential.
          type: string
        expire_time:
          description: ExpireTime specify when service account credential will expire.
          type: string
        id:
          description: ID is globally unique identifier of service account credential.
          type: string
        kid:
          description: Kid is public key ID.
          type: string
        organization_id:
          description: 'OrganizationID is globally unique identifier of organization, formerly known as customer,

            under which service account credential was created.'
          type: string
        service_account_id:
          description: 'ServiceAccountID is globally unique identifier of service account,

            under which service account credential was created.'
          type: string
      type: object
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token generated from Service Account credentials.
x-original-swagger-version: '2.0'
