openapi: 3.2.0
info:
  contact: {}
  description: Config API supports CRUD operations on config objects.
  title: Config REST Application Agent Credentials API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '1'
servers:
- url: https://eu.api.indykite.com/configs/v1
- url: https://us.api.indykite.com/configs/v1
security:
- BearerToken: []
tags:
- name: Application Agent Credentials
  description: Application Agent Credential management
  x-displayName: Application Agent Credentials
paths:
  /application-agent-credentials:
    get:
      tags:
      - Application Agent Credentials
      operationId: listApplicationAgentCredentials
      summary: List Application Agent Credentials
      description: List Application Agent Credentials in provided Project with optional filtering.
      parameters:
      - description: Project ID where to search for Application Agent credentials.
        in: query
        name: project_id
        required: true
        style: form
        explode: true
        schema:
          type: string
      - description: List only objects, that contains given search query in name, display name or description
        in: query
        name: search
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/httpproxy.listConfigResponse-httpproxy_readAppAgentCredentialResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
        '401':
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
      security:
      - BearerToken: []
    post:
      tags:
      - Application Agent Credentials
      operationId: createApplicationAgentCredential
      summary: Register Application Agent credentials
      description: Register Application Agent credentials in provided Application Agent.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/httpproxy.createAppAgentCredentialRequest'
        description: Register Application Agent credentials request
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/httpproxy.createAppAgentCredentialResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
        '401':
          description: Invalid ApplicationAgent JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
      x-codegen-request-body-name: request
      security:
      - BearerToken: []
  /application-agent-credentials/{id}:
    delete:
      tags:
      - Application Agent Credentials
      operationId: deleteApplicationAgentCredential
      summary: Delete Application Agent Credential
      description: Delete Application Agent Credential by provided ID.
      parameters:
      - description: Application Agent ID
        in: path
        name: id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/httpproxy.deleteConfigResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
        '401':
          description: Invalid ApplicationAgent JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
      security:
      - BearerToken: []
    get:
      tags:
      - Application Agent Credentials
      operationId: getApplicationAgentCredential
      summary: Read Application Agent Credential
      description: Read Application Agent Credential identified by provided ID.
      parameters:
      - description: Application Agent Credential ID
        in: path
        name: id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/httpproxy.readAppAgentCredentialResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
        '401':
          description: Invalid ApplicationAgent JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
      security:
      - BearerToken: []
components:
  schemas:
    httpproxy.listConfigResponse-httpproxy_readAppAgentCredentialResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/httpproxy.readAppAgentCredentialResponse'
          type: array
      type: object
    httpproxy.readAppAgentCredentialResponse:
      properties:
        application_agent_id:
          description: 'ApplicationAgentID is globally unique identifier of Application agent,

            to which Application agent credential was created.'
          type: string
        application_id:
          description: 'ApplicationID is globally unique identifier of application,

            under which Application agent credential was created.'
          type: string
        create_time:
          description: CreateTime specify when Application agent credential was registered.
          type: string
        created_by:
          description: CreatedBy specify who created Application agent credential.
          type: string
        display_name:
          description: DisplayName is human readable name of Application agent credential.
          type: string
        expire_time:
          description: ExpireTime specify when Application agent credential will expire.
          type: string
        id:
          description: ID is globally unique identifier of Application agent credential.
          type: string
        kid:
          description: Kid is public key ID.
          type: string
        organization_id:
          description: 'OrganizationID is globally unique identifier of organization, formerly known as customer,

            under which Application agent credential was created.'
          type: string
        project_id:
          description: 'ProjectID is globally unique identifier of project, formerly known as application space,

            under which Application agent credential was created.'
          type: string
      type: object
    httpproxy.createAppAgentCredentialResponse:
      properties:
        application_agent_config:
          description: ApplicationAgentConfig is JSON configuration of created credential.
          items:
            type: integer
          type: array
        application_agent_id:
          description: ApplicationAgentID is identifier of Application Agent, to which the credential was registered.
          type: string
        create_time:
          description: CreateTime specify when configuration was created.
          type: string
        created_by:
          description: CreatedBy specify who created configuration.
          type: string
        display_name:
          description: DisplayName is optional human readable name of configuration.
          type: string
        expire_time:
          description: ExpireTime specify when configuration will expire.
          type: string
        id:
          description: ID is globally unique identifier of created configuration.
          type: string
        kid:
          description: Kid is key identifier of created configuration.
          type: string
      type: object
    httpproxy.deleteConfigResponse:
      properties:
        id:
          description: ID of deleted configuration.
          type: string
      type: object
    restapi.DetailedError:
      properties:
        errors:
          items:
            type: string
          type: array
        message:
          type: string
      type: object
    httpproxy.createAppAgentCredentialRequest:
      properties:
        application_agent_id:
          description: ApplicationAgentID is identifier of Application Agent, to which the credential will be registered.
          type: string
        display_name:
          description: DisplayName is optional human readable name of configuration.
          maxLength: 254
          minLength: 2
          type: string
        expire_time:
          description: ExpireTime specify when configuration will expire. If present, must be in RFC3339 format.
          type: string
      required:
      - application_agent_id
      type: object
    restapi.ErrorResponse:
      properties:
        message:
          example: Internal Server Error
          type: string
      type: object
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token generated from Service Account credentials.
x-original-swagger-version: '2.0'
