openapi: 3.2.0
info:
  contact: {}
  description: Config API supports CRUD operations on config objects.
  title: Config REST Application Agent Credentials Trust Score API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '1'
servers:
- url: https://eu.api.indykite.com/configs/v1
- url: https://us.api.indykite.com/configs/v1
security:
- BearerToken: []
tags:
- name: Trust Score
  description: Trust Score Profile management
  x-displayName: Trust Score
paths:
  /trust-score-profiles:
    get:
      tags:
      - Trust Score
      operationId: listTrustScoreProfiles
      summary: List Trust Score Profiles
      description: List Trust Score Profiles in provided Project with optional filtering.
      parameters:
      - description: Project ID where to search for Trust Score Profiles.
        in: query
        name: project_id
        required: true
        style: form
        explode: true
        schema:
          type: string
      - description: Full fetch of all data. If not provided, only metadata is returned.
        in: query
        name: full_fetch
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - description: List only objects, that contains given search query in name, display name or description
        in: query
        name: search
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/httpproxy.listConfigResponse-httpproxy_readTrustScoreProfileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
        '401':
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
      security:
      - BearerToken: []
    post:
      tags:
      - Trust Score
      operationId: createTrustScoreProfile
      summary: Create Trust Score Profile
      description: Create Trust Score Profile in provided Project.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/httpproxy.createTrustScoreProfileRequest'
        required: true
      responses:
        '201':
          description: Created
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/httpproxy.createConfigResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
        '401':
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
      x-codegen-request-body-name: request
      security:
      - BearerToken: []
  /trust-score-profiles/{id}:
    delete:
      tags:
      - Trust Score
      operationId: deleteTrustScoreProfile
      summary: Delete Trust Score Profile
      description: Delete Trust Score Profile by provided ID. You can optionally can specify etag in If-Match header.
      parameters:
      - description: Trust Score Profile ID
        in: path
        name: id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - description: Multiversion concurrency control version - etag
        in: header
        name: If-Match
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/httpproxy.deleteConfigResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
        '401':
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
      security:
      - BearerToken: []
    get:
      tags:
      - Trust Score
      operationId: getTrustScoreProfile
      summary: Read Trust Score Profile
      description: Read Trust Score Profile identified by provided ID.
      parameters:
      - description: Trust Score Profile ID or name
        in: path
        name: id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - description: Version of configuration to read. If not provided, latest version is returned.
        in: query
        name: version
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - description: Parent project ID. Required when querying by name
        in: query
        name: location
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/httpproxy.readTrustScoreProfileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
        '401':
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
      security:
      - BearerToken: []
    put:
      tags:
      - Trust Score
      operationId: updateTrustScoreProfile
      summary: Update Trust Score Profile
      description: Update Trust Score Profile identified by provided ID and optionally etag in If-Match header.
      parameters:
      - description: Trust Score Profile ID
        in: path
        name: id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - description: Multiversion concurrency control version - etag.
        in: header
        name: If-Match
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/httpproxy.updateTrustScoreProfileRequest'
        description: Update Trust Score Profile request.
        required: true
      responses:
        '200':
          description: OK
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/httpproxy.updateConfigResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
        '401':
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
      x-codegen-request-body-name: request
      security:
      - BearerToken: []
components:
  schemas:
    httpproxy.updateConfigResponse:
      properties:
        create_time:
          description: CreateTime specify when configuration was created.
          type: string
        created_by:
          description: CreatedBy specify who created configuration.
          type: string
        id:
          description: ID of configuration to update.
          type: string
        update_time:
          description: UpdateTime specify when configuration was last time updated.
          type: string
        updated_by:
          description: UpdatedBy specify who last time updated configuration.
          type: string
      type: object
    httpproxy.trustScoreProfileDimension:
      properties:
        name:
          description: Name of the trust score dimension, must be one of the predefined names, cannot be modified once set.
          enum:
          - FRESHNESS
          - COMPLETENESS
          - VALIDITY
          - ORIGIN
          - VERIFICATION
          type: string
        weight:
          description: 'Weight represents how relevant the dimension is in the trust score calculation.

            Setting it to zero, means the dimension is disabled.'
          maximum: 1
          minimum: 0
          type: number
      required:
      - name
      - weight
      type: object
    httpproxy.updateTrustScoreProfileRequest:
      properties:
        description:
          description: 'Description is optional description of configuration. When kept null, it is not changed.

            But when set to empty string, it will be removed.'
          maxLength: 65000
          type: string
        dimensions:
          description: 'Dimensions that will be used to calculate the trust score.

            If this field is empty, it will be ignored. Otherwise, it will overwrite the current values.'
          items:
            $ref: '#/components/schemas/httpproxy.trustScoreProfileDimension'
          minItems: 1
          type: array
        display_name:
          description: 'DisplayName is optional human readable name of configuration. When kept null, it is not changed.

            But when set to empty string, it will be removed.'
          maxLength: 254
          type: string
        node_classification:
          description: 'NodeClassification is a node label in PascalCase, cannot be modified once set.

            Must be specified during creation and can be omitted when updating.'
          type: string
          examples:
          - NodeType
        schedule:
          description: Schedule sets the time between re-calculations, must be one of the predefined intervals.
          enum:
          - THREE_HOURS
          - SIX_HOURS
          - TWELVE_HOURS
          - DAILY
          type: string
      type: object
    httpproxy.deleteConfigResponse:
      properties:
        id:
          description: ID of deleted configuration.
          type: string
      type: object
    httpproxy.createTrustScoreProfileRequest:
      properties:
        description:
          description: Description is optional description of configuration.
          maxLength: 65000
          minLength: 2
          type: string
        dimensions:
          description: 'Dimensions that will be used to calculate the trust score.

            This field is required when creating a new profile and must contain at least one non-zero-weighted dimension.'
          items:
            $ref: '#/components/schemas/httpproxy.trustScoreProfileDimension'
          minItems: 1
          type: array
        display_name:
          description: DisplayName is optional human readable name of configuration.
          maxLength: 254
          minLength: 2
          type: string
        name:
          description: 'Name is URL friendly identifier of configuration, must be unique in scope of parent entity.

            Also is immutable and cannot be changed later.'
          type: string
        node_classification:
          description: 'NodeClassification is a node label in PascalCase, cannot be modified once set.

            Must be specified during creation and can be omitted when updating.'
          type: string
          examples:
          - NodeType
        project_id:
          description: 'ProjectID is identifier of Project, formerly known as Application space,

            where to place this new configuration object. Must be in GID format.'
          type: string
        schedule:
          description: Schedule sets the time between re-calculations, must be one of the predefined intervals.
          enum:
          - THREE_HOURS
          - SIX_HOURS
          - TWELVE_HOURS
          - DAILY
          type: string
      required:
      - dimensions
      - name
      - node_classification
      - project_id
      - schedule
      type: object
    httpproxy.listConfigResponse-httpproxy_readTrustScoreProfileResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/httpproxy.readTrustScoreProfileResponse'
          type: array
      type: object
    restapi.DetailedError:
      properties:
        errors:
          items:
            type: string
          type: array
        message:
          type: string
      type: object
    httpproxy.readTrustScoreProfileResponse:
      properties:
        create_time:
          description: CreateTime specify when configuration was created.
          type: string
        created_by:
          description: CreatedBy specify who created configuration.
          type: string
        description:
          description: Description is optional description of configuration.
          type: string
        dimensions:
          items:
            $ref: '#/components/schemas/httpproxy.trustScoreProfileDimension'
          type: array
        dimensions_execution_times:
          additionalProperties:
            $ref: '#/components/schemas/httpproxy.trustScoreExecutionWindow'
          type: object
        display_name:
          description: DisplayName is optional human readable name of configuration. Is equal to Name if not set.
          type: string
        id:
          description: ID is globally unique identifier of configuration.
          type: string
        last_run_end_time:
          type: string
        last_run_id:
          type: string
        last_run_start_time:
          type: string
        name:
          description: Name is URL friendly identifier of configuration.
          type: string
        node_classification:
          type: string
        organization_id:
          description: 'OrganizationID is globally unique identifier of organization, formerly known as customer,

            under which configuration was created.'
          type: string
        project_id:
          description: 'ProjectID is globally unique identifier of project, formerly known as application space,

            under which configuration was created.

            Might be empty, if configuration is created directly under organization.'
          type: string
        schedule:
          type: string
        update_time:
          description: UpdateTime specify when configuration was last time updated.
          type: string
        updated_by:
          description: UpdatedBy specify who last time updated configuration.
          type: string
      type: object
    restapi.ErrorResponse:
      properties:
        message:
          example: Internal Server Error
          type: string
      type: object
    httpproxy.createConfigResponse:
      properties:
        create_time:
          description: CreateTime specify when configuration was created.
          type: string
        created_by:
          description: CreatedBy specify who created configuration.
          type: string
        id:
          description: ID is globally unique identifier of created configuration.
          type: string
        update_time:
          description: UpdateTime specify when configuration was last time updated.
          type: string
        updated_by:
          description: UpdatedBy specify who last time updated configuration.
          type: string
      type: object
    httpproxy.trustScoreExecutionWindow:
      properties:
        execution_end_time:
          type: string
        execution_start_time:
          type: string
      type: object
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token generated from Service Account credentials.
x-original-swagger-version: '2.0'
