openapi: 3.2.0
info:
  title: IndyKite REST Data Schema API
  description: OpenAPI specifications to test the IndyKite REST Endpoints
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: ''
servers:
- url: https://eu.api.indykite.com
- url: https://us.api.indykite.com
security:
- bearerAuth: []
- APIKey: []
tags:
- description: DataSchema enables customers to define their own data models within the Identity Knowledge Graph (IKG)
  name: Data Schema
  x-displayName: DataSchema
paths:
  /data-schema/v1:
    get:
      tags:
      - Data Schema
      operationId: listDataSchemaV1
      summary: Read Data Schema
      description: Read the IKG data schema for the specified Project in JGFv2 format.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dataschema.JGFGraph'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
        '404':
          description: Data schema not found for the specified Project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/restapi.ErrorResponse'
                - type: object
                  properties:
                    message:
                      type: string
components:
  schemas:
    dataschema.JGFGraph:
      type: object
      properties:
        graph:
          $ref: '#/components/schemas/dataschema.JGFGraphContent'
    dataschema.JGFNodeMetadata:
      type: object
      properties:
        node_count:
          type: integer
        properties:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/dataschema.JGFNodeProperty'
        system_labels:
          type: array
          items:
            $ref: '#/components/schemas/dataschema.JGFLabel'
        user_defined_labels:
          type: array
          items:
            $ref: '#/components/schemas/dataschema.JGFLabel'
    dataschema.JGFLabel:
      type: object
      properties:
        count:
          type: integer
        name:
          type: string
    dataschema.JGFNodeProperty:
      type: object
      properties:
        count:
          type: integer
        metadata:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/dataschema.JGFPropertyMeta'
        types:
          type: array
          items:
            $ref: '#/components/schemas/dataschema.JGFPropertyType'
    dataschema.JGFEdge:
      type: object
      properties:
        directed:
          type: boolean
        metadata:
          $ref: '#/components/schemas/dataschema.JGFEdgeMetadata'
        relation:
          type: string
        source:
          type: string
        target:
          type: string
    restapi.ErrorResponse:
      type: object
      properties:
        message:
          type: string
          examples:
          - Internal Server Error
    dataschema.JGFEdgeMetadata:
      type: object
      properties:
        count:
          type: integer
        properties:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/dataschema.JGFEdgeProperty'
    dataschema.JGFPropertyType:
      type: object
      properties:
        count:
          type: integer
        type:
          type: string
    dataschema.JGFGraphMetadata:
      type: object
      properties:
        created_at:
          type: string
        updated_at:
          type: string
    restapi.DetailedError:
      type: object
      properties:
        errors:
          type: array
          description: Errors are optional and may contain additional details.
          items:
            type: string
          examples:
          - - missing bearer token
        message:
          type: string
          description: Message describes the error.
          examples:
          - unauthorized request
    dataschema.JGFNode:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/dataschema.JGFNodeMetadata'
    dataschema.JGFEdgeProperty:
      type: object
      properties:
        count:
          type: integer
        types:
          type: array
          items:
            $ref: '#/components/schemas/dataschema.JGFPropertyType'
    dataschema.JGFPropertyMeta:
      type: object
      properties:
        count:
          type: integer
        types:
          type: array
          items:
            $ref: '#/components/schemas/dataschema.JGFPropertyType'
    dataschema.JGFGraphContent:
      type: object
      properties:
        directed:
          type: boolean
        edges:
          type: array
          items:
            $ref: '#/components/schemas/dataschema.JGFEdge'
        metadata:
          $ref: '#/components/schemas/dataschema.JGFGraphMetadata'
        nodes:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/dataschema.JGFNode'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token - the value of the Authorization header (without Bearer), e.g. "superSecretToken".
    APIKey:
      type: apiKey
      in: header
      name: X-IK-ClientKey
      description: The value of the App Agent credential header must be passed as is, without any prefix.
x-tagGroups:
- name: Capture REST API
  tags:
  - Capture
- name: Data Schema REST API
  tags:
  - DataSchema
- name: ContX IQ REST API
  tags:
  - ContX IQ
- name: AuthZEN REST API
  tags:
  - AuthZEN
  - Deprecated
- name: Entity Matching Pipeline REST API
  tags:
  - EntityMatching
