---
openapi: 3.2.0
info:
  contact: {}
  description: Config API supports CRUD operations on config objects.
  title: Config REST API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: "1"
servers:
  - url: https://eu.api.indykite.com/configs/v1
  - url: https://us.api.indykite.com/configs/v1
tags:
  - name: Organizations
    description: Organization operations
    x-displayName: Organizations
  - name: Projects
    description: Project CRUD operations
    x-displayName: Projects
  - name: Service Accounts
    description: Service Account CRUD operations
    x-displayName: Service Accounts
  - name: Service Account Credentials
    description: Service Account Credential management
    x-displayName: Service Account Credentials
  - name: Applications
    description: Application and agent management
    x-displayName: Applications
  - name: Application Agents
    description: Application Agent CRUD operations
    x-displayName: Application Agents
  - name: Application Agent Credentials
    description: Application Agent Credential management
    x-displayName: Application Agent Credentials
  - name: Token Introspect
    description: Token introspection configuration
    x-displayName: Token Introspect
  - name: Authorization Policies
    description: KBAC and ContX IQ Policies CRUD operations
    x-displayName: Authorization Policies
  - name: Knowledge Queries
    description: Knowledge Query management
    x-displayName: Knowledge Queries
  - name: External Data Resolver
    description: External Data Resolver configuration
    x-displayName: External Data Resolver
  - name: Trust Score
    description: Trust Score Profile management
    x-displayName: Trust Score
  - name: Event Sinks
    description: Event Sink configuration
    x-displayName: Event Sinks
  - name: Entity Matching
    description: Entity Matching Pipeline configuration
    x-displayName: Entity Matching
  - name: MCP Servers
    description: MCP Servers configuration
    x-displayName: MCP Servers
paths:
  /application-agent-credentials:
    get:
      tags:
        - Application Agent Credentials
      operationId: listApplicationAgentCredentials
      summary: List Application Agent Credentials
      description: List Application Agent Credentials in provided Project with optional filtering.
      parameters:
        - description: Project ID where to search for Application Agent credentials.
          in: query
          name: project_id
          required: true
          style: form
          explode: true
          schema:
            type: string
        - description: List only objects, that contains given search query in name, display name or description
          in: query
          name: search
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.listConfigResponse-httpproxy_readAppAgentCredentialResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
    post:
      tags:
        - Application Agent Credentials
      operationId: createApplicationAgentCredential
      summary: Register Application Agent credentials
      description: Register Application Agent credentials in provided Application Agent.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/httpproxy.createAppAgentCredentialRequest"
        description: Register Application Agent credentials request
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.createAppAgentCredentialResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ApplicationAgent JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      x-codegen-request-body-name: request
      security:
        - BearerToken: []
  /application-agent-credentials/{id}:
    delete:
      tags:
        - Application Agent Credentials
      operationId: deleteApplicationAgentCredential
      summary: Delete Application Agent Credential
      description: Delete Application Agent Credential by provided ID.
      parameters:
        - description: Application Agent ID
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.deleteConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ApplicationAgent JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
    get:
      tags:
        - Application Agent Credentials
      operationId: getApplicationAgentCredential
      summary: Read Application Agent Credential
      description: Read Application Agent Credential identified by provided ID.
      parameters:
        - description: Application Agent Credential ID
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.readAppAgentCredentialResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ApplicationAgent JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
  /application-agents:
    get:
      tags:
        - Application Agents
      operationId: listApplicationAgents
      summary: List Application Agents
      description: List Application Agents in provided Project with optional filtering.
      parameters:
        - description: Project ID where to search for Application Agents.
          in: query
          name: project_id
          required: true
          style: form
          explode: true
          schema:
            type: string
        - description: List only objects, that contains given search query in name, display name or description
          in: query
          name: search
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.listConfigResponse-httpproxy_readAppAgentResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
    post:
      tags:
        - Application Agents
      operationId: createApplicationAgent
      summary: Create Application Agent
      description: Create Application Agent for provider Application.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/httpproxy.createAppAgentRequest"
        description: Create Application Agent request
        required: true
      responses:
        "201":
          description: Created
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.createConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      x-codegen-request-body-name: request
      security:
        - BearerToken: []
  /application-agents/{id}:
    delete:
      tags:
        - Application Agents
      operationId: deleteApplicationAgent
      summary: Delete Application Agent
      description: Delete Application Agent by provided ID. You can optionally can specify etag in If-Match header.
      parameters:
        - description: Application Agent ID
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: Multiversion concurrency control version - etag
          in: header
          name: If-Match
          required: false
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.deleteConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
    get:
      tags:
        - Application Agents
      operationId: getApplicationAgent
      summary: Read Application Agent
      description: Read Application Agent identified by provided ID.
      parameters:
        - description: Application Agent ID or name
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: Version of configuration to read. If not provided, latest version is returned.
          in: query
          name: version
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - description: Parent project ID. Required when querying by name
          in: query
          name: location
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.readAppAgentResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
    put:
      tags:
        - Application Agents
      operationId: updateApplicationAgent
      summary: Update Application Agent
      description: Update Application Agent identified by provided ID and optionally etag in If-Match header.
      parameters:
        - description: Application Agent ID
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: Multiversion concurrency control version - etag.
          in: header
          name: If-Match
          required: false
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/httpproxy.updateAppAgentRequest"
        description: Update Application Agent request.
        required: true
      responses:
        "200":
          description: OK
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.updateConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      x-codegen-request-body-name: request
      security:
        - BearerToken: []
  /applications:
    get:
      tags:
        - Applications
      operationId: listApplications
      summary: List Applications
      description: List Applications in provided Project with optional filtering.
      parameters:
        - description: Project ID where to search for Applications.
          in: query
          name: project_id
          required: true
          style: form
          explode: true
          schema:
            type: string
        - description: List only objects, that contains given search query in name, display name or description
          in: query
          name: search
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.listConfigResponse-httpproxy_readApplicationResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
    post:
      tags:
        - Applications
      operationId: createApplication
      summary: Create Application
      description: Create Application in provided Project.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/httpproxy.createApplicationRequest"
        description: Create Application request
        required: true
      responses:
        "201":
          description: Created
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.createConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      x-codegen-request-body-name: request
      security:
        - BearerToken: []
  /applications/{id}:
    delete:
      tags:
        - Applications
      operationId: deleteApplication
      summary: Delete Application
      description: Delete Application, formerly known as Application space, by provided ID. You can optionally can specify etag in If-Match header.
      parameters:
        - description: Application ID
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: Multiversion concurrency control version - etag
          in: header
          name: If-Match
          required: false
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.deleteConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
    get:
      tags:
        - Applications
      operationId: getApplication
      summary: Read Application
      description: Read Application, formerly known as Application space, identified by provided ID.
      parameters:
        - description: Application ID or name
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: Version of configuration to read. If not provided, latest version is returned.
          in: query
          name: version
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - description: Parent project ID. Required when querying by name
          in: query
          name: location
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.readApplicationResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
    put:
      tags:
        - Applications
      operationId: updateApplication
      summary: Update Application
      description: "Update Application, formerly known as Application space, identified by provided ID and optionally etag in If-Match header."
      parameters:
        - description: Application ID
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: Multiversion concurrency control version - etag.
          in: header
          name: If-Match
          required: false
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/httpproxy.updateApplicationRequest"
        description: Update Application request.
        required: true
      responses:
        "200":
          description: OK
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.updateConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      x-codegen-request-body-name: request
      security:
        - BearerToken: []
  /authorization-policies:
    get:
      tags:
        - Authorization Policies
      operationId: listAuthorizationPolicies
      summary: List Authorization Policies
      description: List Authorization Policies in provided Project with optional filtering.
      parameters:
        - description: Project ID where to search for Authorization Policies.
          in: query
          name: project_id
          required: true
          style: form
          explode: true
          schema:
            type: string
        - description: Full fetch of all data. If not provided, only metadata is returned.
          in: query
          name: full_fetch
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - description: List only objects, that contains given search query in name, display name or description
          in: query
          name: search
          required: false
          style: form
          explode: true
          schema:
            type: string
        - description: Type of policy to filter by, can be 'kbac' or 'ciq'.
          in: query
          name: type
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.listConfigResponse-httpproxy_readAuthorizationPolicyResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
    post:
      tags:
        - Authorization Policies
      operationId: createAuthorizationPolicy
      summary: Create Authorization Policy
      description: Create Authorization Policy in provided Project.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/httpproxy.createAuthorizationPolicyRequest"
        description: Create Authorization Policy request
        required: true
      responses:
        "201":
          description: Created
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.createConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      x-codegen-request-body-name: request
      security:
        - BearerToken: []
  /authorization-policies/{id}:
    delete:
      tags:
        - Authorization Policies
      operationId: deleteAuthorizationPolicy
      summary: Delete Authorization Policy
      description: Delete Authorization Policy by provided ID. You can optionally can specify etag in If-Match header.
      parameters:
        - description: Authorization Policy ID
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: Multiversion concurrency control version - etag
          in: header
          name: If-Match
          required: false
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.deleteConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
    get:
      tags:
        - Authorization Policies
      operationId: getAuthorizationPolicy
      summary: Read Authorization Policy
      description: Read Authorization Policy identified by provided ID.
      parameters:
        - description: Authorization Policy ID or name
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: Version of configuration to read. If not provided, latest version is returned.
          in: query
          name: version
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - description: Parent project ID. Required when querying by name
          in: query
          name: location
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.readAuthorizationPolicyResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
    put:
      tags:
        - Authorization Policies
      operationId: updateAuthorizationPolicy
      summary: Update Authorization Policy
      description: Update Authorization Policy identified by provided ID and optionally etag in If-Match header.
      parameters:
        - description: Authorization Policy ID
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: Multiversion concurrency control version - etag.
          in: header
          name: If-Match
          required: false
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/httpproxy.updateAuthorizationPolicyRequest"
        description: Update Authorization Policy request.
        required: true
      responses:
        "200":
          description: OK
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.updateConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      x-codegen-request-body-name: request
      security:
        - BearerToken: []
  /entity-matching-pipelines:
    get:
      tags:
        - Entity Matching
      operationId: listEntityMatchingPipelines
      summary: List Entity Matching Pipelines
      description: List Entity Matching Pipelines in provided Project with optional filtering.
      parameters:
        - description: Project ID where to search for Entity Matching Pipelines.
          in: query
          name: project_id
          required: true
          style: form
          explode: true
          schema:
            type: string
        - description: Full fetch of all data. If not provided, only metadata is returned.
          in: query
          name: full_fetch
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - description: List only objects, that contains given search query in name, display name or description
          in: query
          name: search
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.listConfigResponse-httpproxy_readEntityMatchingPipelineResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
      security:
        - BearerToken: []
    post:
      tags:
        - Entity Matching
      operationId: createEntityMatchingPipeline
      summary: Create Entity Matching Pipeline
      description: Create Entity Matching Pipeline in provided Project.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/httpproxy.createEntityMatchingPipelineRequest"
        description: Create Entity Matching Pipeline request
        required: true
      responses:
        "201":
          description: Created
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.createConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      x-codegen-request-body-name: request
      security:
        - BearerToken: []
  /entity-matching-pipelines/{id}:
    delete:
      tags:
        - Entity Matching
      operationId: deleteEntityMatchingPipeline
      summary: Delete Entity Matching Pipeline
      description: Delete Entity Matching Pipeline by provided ID. You can optionally can specify etag in If-Match header.
      parameters:
        - description: Entity Matching Pipeline ID
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: Multiversion concurrency control version - etag
          in: header
          name: If-Match
          required: false
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.deleteConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
    get:
      tags:
        - Entity Matching
      operationId: getEntityMatchingPipeline
      summary: Read Entity Matching Pipeline
      description: Read Entity Matching Pipeline identified by provided ID.
      parameters:
        - description: Entity Matching Pipeline ID or name
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: Version of configuration to read. If not provided, latest version is returned.
          in: query
          name: version
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - description: Parent project ID. Required when querying by name
          in: query
          name: location
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.readEntityMatchingPipelineResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
    put:
      tags:
        - Entity Matching
      operationId: updateEntityMatchingPipeline
      summary: Update Entity Matching Pipeline
      description: Update Entity Matching Pipeline identified by provided ID and optionally etag in If-Match header.
      parameters:
        - description: Entity Matching Pipeline ID
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: Multiversion concurrency control version - etag.
          in: header
          name: If-Match
          required: false
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/httpproxy.updateEntityMatchingPipelineRequest"
        description: Update Entity Matching Pipeline request.
        required: true
      responses:
        "200":
          description: OK
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.updateConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      x-codegen-request-body-name: request
      security:
        - BearerToken: []
  /event-sinks:
    get:
      tags:
        - Event Sinks
      operationId: listEventSinks
      summary: List Event Sinks
      description: List Event Sinks in provided Project with optional filtering.
      parameters:
        - description: Project ID where to search for Event Sinks.
          in: query
          name: project_id
          required: true
          style: form
          explode: true
          schema:
            type: string
        - description: Full fetch of all data. If not provided, only metadata is returned.
          in: query
          name: full_fetch
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - description: List only objects, that contains given search query in name, display name or description
          in: query
          name: search
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.listConfigResponse-httpproxy_readEventSinkResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
    post:
      tags:
        - Event Sinks
      operationId: createEventSink
      summary: Create Event Sink
      description: Create Event Sink in provided Project.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/httpproxy.createEventSinkRequest"
        description: Create Event Sink request
        required: true
      responses:
        "201":
          description: Created
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.createConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      x-codegen-request-body-name: request
      security:
        - BearerToken: []
  /event-sinks/{id}:
    delete:
      tags:
        - Event Sinks
      operationId: deleteEventSink
      summary: Delete EventSink
      description: Delete EventSink by provided ID. You can optionally can specify etag in If-Match header.
      parameters:
        - description: EventSink ID
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: Multiversion concurrency control version - etag
          in: header
          name: If-Match
          required: false
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.deleteConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
    get:
      tags:
        - Event Sinks
      operationId: getEventSink
      summary: Read EventSink
      description: Read EventSink identified by provided ID.
      parameters:
        - description: EventSink ID or name
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: Version of configuration to read. If not provided, latest version is returned.
          in: query
          name: version
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - description: Parent project ID. Required when querying by name
          in: query
          name: location
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.readEventSinkResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
    put:
      tags:
        - Event Sinks
      operationId: updateEventSink
      summary: Update EventSink
      description: Update EventSink identified by provided ID and optionally etag in If-Match header.
      parameters:
        - description: EventSink ID
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: Multiversion concurrency control version - etag.
          in: header
          name: If-Match
          required: false
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/httpproxy.updateEventSinkRequest"
        description: Update EventSink request.
        required: true
      responses:
        "200":
          description: OK
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.updateConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      x-codegen-request-body-name: request
      security:
        - BearerToken: []
  /external-data-resolvers:
    get:
      tags:
        - External Data Resolver
      operationId: listExternalDataResolvers
      summary: List External Data Resolvers
      description: List External Data Resolvers in provided Project with optional filtering.
      parameters:
        - description: Project ID where to search for External Data Resolvers.
          in: query
          name: project_id
          required: true
          style: form
          explode: true
          schema:
            type: string
        - description: Full fetch of all data. If not provided, only metadata is returned.
          in: query
          name: full_fetch
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - description: List only objects, that contains given search query in name, display name or description
          in: query
          name: search
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.listConfigResponse-httpproxy_readExternalDataResolverResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
    post:
      tags:
        - External Data Resolver
      operationId: createExternalDataResolver
      summary: Create External Data Resolver
      description: Create External Data Resolver in provided Project.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/httpproxy.createExternalDataResolverRequest"
        description: Create External Data Resolver request
        required: true
      responses:
        "201":
          description: Created
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.createConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      x-codegen-request-body-name: request
      security:
        - BearerToken: []
  /external-data-resolvers/{id}:
    delete:
      tags:
        - External Data Resolver
      operationId: deleteExternalDataResolver
      summary: Delete External Data Resolver
      description: Delete External Data Resolver by provided ID. You can optionally can specify etag in If-Match header.
      parameters:
        - description: External Data Resolver ID
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: Multiversion concurrency control version - etag
          in: header
          name: If-Match
          required: false
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.deleteConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
    get:
      tags:
        - External Data Resolver
      operationId: getExternalDataResolver
      summary: Read External Data Resolver
      description: Read External Data Resolver identified by provided ID.
      parameters:
        - description: External Data Resolver ID or name
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: Version of configuration to read. If not provided, latest version is returned.
          in: query
          name: version
          style: form
          explode: true
          schema:
            type: integer
        - description: Parent project ID. Required when querying by name
          in: query
          name: location
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.readExternalDataResolverResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
    put:
      tags:
        - External Data Resolver
      operationId: updateExternalDataResolver
      summary: Update External Data Resolver
      description: Update External Data Resolver identified by provided ID and optionally etag in If-Match header.
      parameters:
        - description: External Data Resolver ID
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: Multiversion concurrency control version - etag.
          in: header
          name: If-Match
          required: false
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/httpproxy.updateExternalDataResolverRequest"
        description: Update External Data Resolver request.
        required: true
      responses:
        "200":
          description: OK
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.updateConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      x-codegen-request-body-name: request
      security:
        - BearerToken: []
  /knowledge-queries:
    get:
      tags:
        - Knowledge Queries
      operationId: listKnowledgeQueries
      summary: List Knowledge Queries
      description: List Knowledge Queries in provided Project with optional filtering.
      security:
        - BearerToken: []
      parameters:
        - description: Project ID where to search for Knowledge Queries.
          in: query
          name: project_id
          required: true
          style: form
          explode: true
          schema:
            type: string
        - description: Full fetch of all data. If not provided, only metadata is returned.
          in: query
          name: full_fetch
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - description: List only objects, that contains given search query in name, display name or description
          in: query
          name: search
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.listConfigResponse-httpproxy_readKnowledgeQueryResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
    post:
      tags:
        - Knowledge Queries
      operationId: createKnowledgeQuery
      summary: Create Knowledge Query
      description: Create Knowledge Query in provided Project.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/httpproxy.createKnowledgeQueryRequest"
        description: Create Knowledge Query request
        required: true
      responses:
        "201":
          description: Created
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.createConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      x-codegen-request-body-name: request
      security:
        - BearerToken: []
  /knowledge-queries/{id}:
    delete:
      tags:
        - Knowledge Queries
      operationId: deleteKnowledgeQuery
      summary: Delete Knowledge Query
      description: Delete Knowledge Query by provided ID. You can optionally can specify etag in If-Match header.
      parameters:
        - description: Knowledge Query ID
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: Multiversion concurrency control version - etag
          in: header
          name: If-Match
          required: false
          style: simple
          explode: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.deleteConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
    get:
      tags:
        - Knowledge Queries
      operationId: getKnowledgeQuery
      summary: Read Knowledge Query
      description: Read Knowledge Query identified by provided ID.
      parameters:
        - description: Knowledge Query ID or name
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: Version of configuration to read. If not provided, latest version is returned.
          in: query
          name: version
          style: form
          explode: true
          schema:
            type: integer
        - description: Parent project ID. Required when querying by name
          in: query
          name: location
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.readKnowledgeQueryResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      security:
        - BearerToken: []
    put:
      tags:
        - Knowledge Queries
      operationId: updateKnowledgeQuery
      summary: Update Knowledge Query
      description: Update Knowledge Query identified by provided ID and optionally etag in If-Match header.
      parameters:
        - description: Knowledge Query ID
          in: path
          name: id
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - description: Multiversion concurrency control version - etag.
          in: header
          name: If-Match
          required: false
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/httpproxy.updateKnowledgeQueryRequest"
        description: Update Knowledge Query request.
        required: true
      responses:
        "200":
          description: OK
          headers:
            etag:
              description: Multiversion concurrency control version - etag
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/httpproxy.updateConfigResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
        "401":
          description: Invalid ServiceAccount JWT in Authorization header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.DetailedError"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restapi.ErrorResponse"
      x-codegen-request-body-name: request
      security:
        - BearerToken: []
  /mcp-servers:
    get:
      operationId: listMCPServer
      description: List all MCP Server configurations in a project
      parameters:
        - description: Project ID in GID format
          in: query
          name: project_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/httpproxy.listConfigResponse-httpproxy_readMCPServerResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
      security:
        - BearerToken: []
      summary: List MCP Servers
      tags:
        - MCP Servers
    post:
      operationId: createMCPServer
      description: Create a new MCP Server configuration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/httpproxy.createMCPServerRequest'
        description: MCP Server configuration
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/httpproxy.createConfigResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
      security:
        - BearerToken: []
      summary: Create MCP Server
      tags:
        - MCP Servers
  /mcp-servers/{id}:
    delete:
      operationId: deleteMCPServer
      description: Delete an MCP Server configuration
      parameters:
        - description: MCP Server ID in GID format
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: ETag for optimistic concurrency control
          in: query
          name: etag
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.DetailedError'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/restapi.ErrorResponse'
      security:
        - BearerToken: []
      summary: Delete MCP Server
      tags:
        - MCP Servers
    get:
      operationId: getMCPServer
      description: Read an MCP Server configuration by ID or name
      parameters:
        - description: MCP Server ID in GID format or name
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: Project ID in GID format (required when using name)
          in: query
          name: project_id
          schema:
            type: string
        - description: Version number to read
          in: query
          name: version
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
[...]
